<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="../../img/T3CHDEVV2.png"
              alt="Bootstrap"
              width="90"
              height="30"
            />
          </a>
        </div>
      </nav>
    </header>
    <section>
      <div class="container-fluid">
        <div
          class="alert alert-primary"
          role="alert"
          style="
            width: 30%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-contents: center;
            padding: 25px;
            margin: 0 0 0 450px;
          "
        >
          <img
            src="../../img/T3CHDEV.png"
            alt="Bootstrap"
            width="140"
            height="100"
            style="margin: 10px 0 25px 110px"
          />
        </div>
        <p class="text-center pt-3">Página de refirecionamento.</p>
        <p
          class="text-center"
          style="font-size: 60px; font-weight: 900; padding: 0px; margin: 0px"
        >
          03
        </p>
      </div>
    </section>
  </body>
</html>
